.PillIntake {
    padding: 20px;
    display: flex;
}

.PillSideBar {
    border: 2px solid lightgrey;
    width: 25%;
    min-width: 180px;
    display: block;
    padding: 10px;
    padding-right: 15px;
}

.Reminders {
    overflow-y: auto;
    border: 2px solid lightgrey;
    width: 75%;
    min-width: 260px;
    max-height: 600px;
}

.PillSideBar button {
    position: sticky;
    height: 50px;
    bottom: 20px;
}

.AddNew {
    border-radius: 10px 10px 0px 0px;
    
    border: 2px solid rgb(224, 222, 222);
    background-color: white;
    width: 400px;
    
    display: block;
}

.AddNewHeader {
    border-radius: 10px ;
    border: 1px;
    border-bottom: none;
    background-color: #8bd7f7;
    padding: 10px;
    text-align: center;
    color: white;
}

.close-button {
    position: absolute;
    background: none;
    width: auto;
    height: auto;
    line-height: 1;
    height:inherit;
    right: 0px;
    top: 0px;
    z-index: 10;
    margin: 0px;
}

.close-button:hover {
    background: none;
    color: grey;
}

.AddNewForm {
    padding: 30px;
}

.AddNewForm input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
}

.form-inline input {
    width: 4ch;
    text-align: center;
    padding: 5px;
}

div.Buttons {
    height: 50px;
}

button.Save  {
    float: right;
    width: 45%;
    border-radius: 10px;
}

button.Delete {
    float: left;
    width: 45%;
    border-radius: 10px;
}
